rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Allow anyone to submit feedback and inquiries
    match /platform_feedback/{document=**} {
      allow create: if true;
      allow read, update, delete: if false;
    }
    match /general_inquiries/{document=**} {
      allow create: if true;
      allow read, update, delete: if false;
    }
    // Allow secure write access for developer portal access requests
    match /access_requests/{document=**} {
      allow create: if true;
      allow read, update, delete: if false;
    }
  }
}